<div class="container mx-auto flex flex-col justify-center items-center bg-[#e5f5ec] shadow-xl p-6">
  <p class="text-3xl text-slate-600">All Subscribers</p>
  <p class="text-slate-400 p-2">From here you can manage your subscribers.</p>
  <div class="grid grid-cols-1 md:grid-cols-2 space-y-2 items-center md:space-x-4">
    <button class="w-44 bg-amber-500 text-gray-800 px-4 py-2" routerLink="/">
      Back to Dashboard
    </button>
  </div>
</div>
<div class="container mx-auto bg-slate-100 mt-6">
  <div class="hidden md:flex justify-evenly p-4">
    <th class="w-12">NO</th>
    <th class="w-80">Name</th>
    <th class="w-80">Email</th>
    <th class="w-40">Actions</th>
  </div>

  <div class="flex flex-col gap-4 w-full">
    <div *ngFor="let subscriber of subScribersArray; let i = index">
      <div class="overflow-x-auto">
        <div class="flex md:hidden justify-center border-2 px-4">
          <th class="w-80">Name</th>
          <th class="w-80">Email</th>

          <th class="w-40">Actions</th>
        </div>

        <div class="flex gap-1 justify-evenly max-h-44 bg-red-100 md:flex-row md:h-20 px-4 py-2 text-lg">
          <div class="p-2 bg-white text-center w-12">{{ i + 1 }}</div>

          <div class="p-2 bg-white text-center w-80 break-words overflow-y-auto">
            {{ subscriber.data.name }}
          </div>
          <div class="p-2 bg-white text-center w-80 break-words overflow-y-auto">
            {{ subscriber.data.email }}
          </div>

          <div class="flex items-center justify-center p-2 bg-white w-40">
            <button class="w-16 text-center bg-orange-500 text-base text-white" (click)="onDelete(subscriber.id)">
              Delete
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
