<div class=" grid grid-cols-2 p-4 gap-8  justify-center">
  <div class="flex  container shadow-[0_10px_20px_rgba(107,_106,_138,_0.7)] items-center justify-center flex-col p-4 bg-emerald-500 space-y-3 h-52"
    routerLink="/categories">
    <p><i class="fa-solid fa-clipboard-list text-3xl"></i></p>
    <p class="text-3xl">category</p>
    <p class="text-center">manage your category here </p>
  </div>
  <div class="flex container shadow-[0_10px_20px_rgba(107,_106,_138,_0.7)] items-center justify-center flex-col p-4 bg-emerald-500 space-y-3 h-52"
    routerLink="/posts">
    <p><i class="fa-solid fa-clipboard-list text-3xl"></i></p>
    <p class="text-3xl">Posts</p>
    <p class="text-center">manage your Posts here </p>
  </div>
  <div class="flex container shadow-[0_10px_20px_rgba(107,_106,_138,_0.7)] items-center justify-center flex-col p-4 bg-emerald-500 space-y-3 h-52"
  routerLink="/subscribers">
  <p><i class="fa-solid fa-clipboard-list text-3xl"></i></p>
  <p class="text-3xl">Subscribers</p>
  <p class="text-center">manage your Subscribers here </p>
</div>

</div>
